.DS_Store
.idea
api/.DS_STORE
api/protobuf/.DS_STORE
backend/.DS_STORE
backend/.idea
backend/auth/.DS_STORE
backend/auth/.idea
backend/gateway/.DS_STORE
backend/gateway/.idea
backend/interests/.DS_STORE
backend/interests/.idea
backend/profile/.DS_STORE
backend/profile/.idea